

.button-menu {
    color:var(--primary-color);
    cursor: pointer;
    
}

.dispblock {
    margin-right:0.75rem
}

.ml-72 {
    margin-left: 18rem;
}

.rounded-full {
    border-radius:9999px;
}

.sidebar {
    box-shadow: rgb(113 122 131 / 11%) 0px 7px 30px 0px;
}

.navbar, .nav-item {
    z-index: 10000;
}

.tracking-tight{
    letter-spacing: '-.025em';
}

@media  screen and (max-width:800px) {
    .sidebar{
      z-index: 10000000;
    }
}

::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(216, 216, 216);
    border-radius: 40px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}